In [1]:
import pandas as pd
import glob

# Get all yellow taxi Parquet files in folder
path = r"C:\Users\Admin\Desktop\bigdata\yellow_*.parquet"
all_files = glob.glob(path)

print("Files found:", all_files)

# Read and merge
df_list = [pd.read_parquet(f) for f in all_files]
df_all = pd.concat(df_list, ignore_index=True)

print("Merged dataset shape:", df_all.shape)

Files found: ['C:\\Users\\Admin\\Desktop\\bigdata\\yellow_tripdata_2025-01.parquet', 'C:\\Users\\Admin\\Desktop\\bigdata\\yellow_tripdata_2025-02.parquet', 'C:\\Users\\Admin\\Desktop\\bigdata\\yellow_tripdata_2025-04.parquet', 'C:\\Users\\Admin\\Desktop\\bigdata\\yellow_tripdata_2025-05.parquet', 'C:\\Users\\Admin\\Desktop\\bigdata\\yellow_tripdata_2025-06.parquet', 'C:\\Users\\Admin\\Desktop\\bigdata\\yellow_tripdata_2025-07 (1).parquet', 'C:\\Users\\Admin\\Desktop\\bigdata\\yellow_tripdata_2025-08.parquet']
Merged dataset shape: (27411181, 20)

In [2]:
import pandas as pd

# Assuming df_all is your merged dataset
# Check missing values per column
missing = df_all.isnull().sum()
print("Missing values per column:")
print(missing)

# Optional: percentage of missing values
missing_percent = (df_all.isnull().sum() / len(df_all)) * 100
print("\nPercentage of missing values per column:")
print(missing_percent)

Missing values per column:
VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count          6426927
trip_distance                  0
RatecodeID               6426927
store_and_fwd_flag       6426927
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge     6426927
Airport_fee              6426927
cbd_congestion_fee             0
dtype: int64

Percentage of missing values per column:
VendorID                  0.00000
tpep_pickup_datetime      0.00000
tpep_dropoff_datetime     0.00000
passenger_count          23.44637
trip_distance             0.00000
RatecodeID               23.44637
store_and_fwd_flag       23.44637
PULocationID              0.00000
DOLocationID              0.00000
payment_type              0.00000
fare_amount               0.00000
extra                     0.00000
mta_tax                   0.00000
tip_amount                0.00000
tolls_amount              0.00000
improvement_surcharge     0.00000
total_amount              0.00000
congestion_surcharge     23.44637
Airport_fee              23.44637
cbd_congestion_fee        0.00000
dtype: float64

In [3]:
# Fill missing passenger_count with median
df_all['passenger_count'] = df_all['passenger_count'].fillna(df_all['passenger_count'].median())

# Fill missing RatecodeID with most frequent value
df_all['RatecodeID'] = df_all['RatecodeID'].fillna(df_all['RatecodeID'].mode()[0])

# Fill missing store_and_fwd_flag with 'N' (most common)
df_all['store_and_fwd_flag'] = df_all['store_and_fwd_flag'].fillna('N')

# Fill congestion_surcharge and Airport_fee with 0
df_all['congestion_surcharge'] = df_all['congestion_surcharge'].fillna(0)
df_all['Airport_fee'] = df_all['Airport_fee'].fillna(0)

# Verify again
print(df_all.isnull().sum())

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
Airport_fee              0
cbd_congestion_fee       0
dtype: int64

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

# Count number of occurrences of each trip
trip_counts = df_all.groupby(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 
                              'PULocationID', 'DOLocationID', 'trip_distance', 'fare_amount']).size()

# Take only trips that occur more than once
trip_duplicates = trip_counts[trip_counts > 1]

# Plot top 20 duplicate trips
trip_duplicates.sort_values(ascending=False).head(20).plot(kind='bar', figsize=(12,6))
plt.title("Top 20 Duplicate Trips (Count > 1)")
plt.ylabel("Number of occurrences")
plt.xlabel("Trip (pickup & dropoff info)")
plt.show()

In [ ]:
# Count total duplicate rows
total_duplicates = df_all.duplicated().sum()
print("Total duplicate rows:", total_duplicates)